/* Animations for elements */

.sl-trans-elems .sl-deco, .sl-trans-elems ul {
	-webkit-animation: roll 1s ease-out both, fadeIn 1s ease-out both;
	-moz-animation: roll 1s ease-out both, fadeIn 1s ease-out both;
	-o-animation: roll 1s ease-out both, fadeIn 1s ease-out both;
	-ms-animation: roll 1s ease-out both, fadeIn 1s ease-out both;
	animation: roll 1s ease-out both, fadeIn 1s ease-out both;
}
.sl-trans-elems h2 {
	-webkit-animation: moveUp 1s ease-in-out both;
	-moz-animation: moveUp 1s ease-in-out both;
	-o-animation: moveUp 1s ease-in-out both;
	-ms-animation: moveUp 1s ease-in-out both;
	animation: moveUp 1s ease-in-out both;
}
.sl-trans-elems blockquote {
	-webkit-animation: fadeIn 0.5s linear 0.5s both;
	-moz-animation: fadeIn 0.5s linear 0.5s both;
	-o-animation: fadeIn 0.5s linear 0.5s both;
	-ms-animation: fadeIn 0.5s linear 0.5s both;
	animation: fadeIn 0.5s linear 0.5s both;
}

@-webkit-keyframes roll {
	0% {-webkit-transform: translateY(-500px) rotate(360deg);}
	100% {-webkit-transform: translateY(0px) rotate(0deg);}
}
@-moz-keyframes roll {
	0% {-moz-transform: translateX(-500px) rotate(360deg); opacity: 0;}
	100% {-moz-transform: translateX(0px) rotate(0deg); opacity: 1;}
}
@-o-keyframes roll {
	0% {-o-transform: translateX(-500px) rotate(360deg); opacity: 0;}
	100% {-o-transform: translateX(0px) rotate(0deg); opacity: 1;}
}
@-ms-keyframes roll {
	0% {-ms-transform: translateX(-500px) rotate(360deg); opacity: 0;}
	100% {-ms-transform: translateX(0px) rotate(0deg); opacity: 1;}
}
@keyframes roll {
	0% {transform: translateX(-500px) rotate(360deg); opacity: 0;}
	100% {transform: translateX(0px) rotate(0deg); opacity: 1;}
}
@-webkit-keyframes moveUp {
	0% {-webkit-transform: translateY(-40px);}
	100% {-webkit-transform: translateY(0px);}
}
@-moz-keyframes moveUp {
	0% {-moz-transform: translateY(-40px);}
	100% {-moz-transform: translateY(0px);}
}
@-o-keyframes moveUp {
	0% {-o-transform: translateY(-40px);}
	100% {-o-transform: translateY(0px);}
}
@-ms-keyframes moveUp {
	0% {-ms-transform: translateY(-40px);}
	100% {-ms-transform: translateY(0px);}
}
@keyframes moveUp {
	0% {transform: translateY(-40px);}
	100% {transform: translateY(0px);}
}
@-webkit-keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@-moz-keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@-o-keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@-ms-keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

.sl-trans-back-elems .sl-deco, .sl-trans-back-elems ul, .sl-trans-back-elems #media {
	-webkit-animation: scaleDown 0.8s ease-in-out both;
	-moz-animation: scaleDown 0.8s ease-in-out both;
	-o-animation: scaleDown 0.8s ease-in-out both;
	-ms-animation: scaleDown 0.8s ease-in-out both;
	animation: scaleDown 0.8s ease-in-out both;
}

.sl-trans-back-elems h2 {
	-webkit-animation: fadeOut 0.7s ease-in-out both;
	-moz-animation: fadeOut 0.7s ease-in-out both;
	-o-animation: fadeOut 0.7s ease-in-out both;
	-ms-animation: fadeOut 0.7s ease-in-out both;
	animation: fadeOut 0.7s ease-in-out both;
}

.sl-trans-back-elems blockquote {
	-webkit-animation: fadeOut 0.7s linear both;
	-moz-animation: fadeOut 0.7s linear both;
	-o-animation: fadeOut 0.7s linear both;
	-ms-animation: fadeOut 0.7s linear both;
	animation: fadeOut 0.7s linear both;
}

@-webkit-keyframes scaleDown {
	0% {-webkit-transform: scale(1);}
	100% {-webkit-transform: scale(0.2);}
}

@-moz-keyframes scaleDown {
	0% {-moz-transform: scale(1);}
	100% {-moz-transform: scale(0.2);}
}

@-o-keyframes scaleDown {
	0% {-o-transform: scale(1);}
	100% {-o-transform: scale(0.2);}
}

@-ms-keyframes scaleDown {
	0% {-ms-transform: scale(1);}
	100% {-ms-transform: scale(0.2);}
}

@keyframes scaleDown {
	0% {transform: scale(1);}
	100% {transform: scale(0.2);}
}

@-webkit-keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
}

@-moz-keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
}

@-o-keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
}

@-ms-keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
}

@keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
}