/* Tablet -- iPads (portrait and landscape) */

@media all and (min-width: 1050px) {
	#main #process .showcase li, #main #work .showcase li {
		background-size: 100% auto;
	}
}

@media all and (max-width: 780px) {
	body {
		font-size: 0.8em;
	}

	#main #about .content blockquote {
		padding: 160px 0 0 0;
		background-position: center top;
		font-size: 1.9em;
		text-align: center;
		margin: 0 auto;
		width: 100%;
		    
		-webkit-background-size: 130px auto;
		   -moz-background-size: 130px auto;
		     -o-background-size: 130px auto;
			background-size: 130px auto;
		    
		-webkit-margin-before: 0;
		 -webkit-margin-after: 0;
		 -webkit-margin-start: 0;
		   -webkit-margin-end: 0;
	}

	#main #about .content ul{
		height: auto;
		margin-top: 20px;
		padding-bottom: 30px;
	}

	#main #about .content ul li {
    //margin: 10px 0;
    width: 38%;
    padding: 15px 30px 20px 20px;
    min-height: inherit;
	}

	#main #contact .content ul#columns li.aThird {
		margin: 10px auto 0 auto;
		width: 90%;
		padding: 15px 20px 20px 20px;
		min-height: inherit;
	}

	#main #contact .content ul#columns li.aThird:nth-child(3) {
	  background-size: 10%;
	}

	#main #process .showcase .place_indicator, #main #work .showcase .place_indicator {
		width: 64px;
	}

	#main #process .showcase .place_indicator li, #main #work .showcase .place_indicator li {
		width: 14px;
		height: 14px;
	}

	#main #clients article {
		width: 100%;
		font-size: 88%;
		float: none;
	}

	#main #clients article .client_list li {
		width: 22%;
		margin: 0% 3% 0 0;
		padding: 0.5em 0;
		display: inline-block;
		vertical-align: top;
	}

	#main #clients article .client_list li:nth-child(4n+0) {
		margin-right: 0;
	}
}

/* Mobile */
@media all and (max-width: 550px){

	* { margin: 0; padding: 0; }

	#container{
	  width: 100%;
	  overflow: hidden;
	}

	nav { display: none; }

	nav ul{
		float: none !important;
		margin: 0 !important;
		width: 100%;
		text-align: center;
	}

	nav ul li{
		display: inline-block !important;
		float: none !important;
	}

	nav ul li a{
	  padding: .9em 1em !important;
	}

	#nav-top, #nav-top a.active { display: none; }

	#main { background-color: #F4F6EE; margin: 0 0 2em 0; }

	#main #about { }

	#main #about .content {
		width: 90% !important;
		max-width: 90%;
		padding: 30px 0 0 0;
	}

	#main #about .content blockquote {
		padding: 115px 0 0 0;
		background-position: center top;
		font-size: 1.6em;
		text-align: center;
		margin: 0 auto;
		width: 100%;
		    
		-webkit-background-size: 100px auto;
		   -moz-background-size: 100px auto;
		     -o-background-size: 100px auto;
			background-size: 100px auto;
		    
		-webkit-margin-before: 0;
		 -webkit-margin-after: 0;
		 -webkit-margin-start: 0;
		   -webkit-margin-end: 0;
	}

	#main #about .content ul{
		height: auto;
		padding-bottom: 30px;
		margin-top: 20px;
	}

	#main #about .content ul li {
    margin: 10px auto 0 auto;
    width: 90%;
    padding: 15px 20px 20px 20px;
    min-height: inherit;
	}
	    
  #main #about .content ul li h3 { font-size: 1.5em; }
  #main #about .content ul li p { font-size: 1em; }

	#main #process, #main #work, #main #clients { 
		width: 100% !important;
		max-width: 100%;
		padding: 30px 0 0 0;
	}

	#main #clients article {
		font-size: 78%;
		padding-bottom: 2em;
	}

	#main #clients article .client_list li {
		width: 48%;
		margin: 0.2em 3% 0.2em 0;
		padding: 0.8em 0;
		display: inline-block;
		vertical-align: top;
	}

	#main #clients article .client_list li:nth-child(even) {
		margin-right: 0;
	}

	#main #process .content, #main #work .content, #main #clients .content {
		max-width: 95%;
		width: 95%;
		padding: 0;
	}

	#main #process .content h2, #main #work .content h2, #main #clients .content h2 {
		font-size: 2em;
		width: 100%;
	}
	
	#main #process .content ul li .detail-slide aside, #main #work .content ul li .detail-slide aside {
    width: 100%;
    float: none;
    margin-bottom: 10px;
    padding: 0;
  }
  #main #process .content ul li .detail-slide aside h3, #main #work .content ul li .detail-slide aside h3 {
		font-size: 1.5em;
		width: 98%;
	}
  #main #process .content ul li .detail-slide aside h4, #main #work .content ul li .detail-slide aside h4 {
		font-size: 1.2em;
		width: 98%;
		margin-bottom: 1em;
	}
	
	#main #process .content ul li .detail-slide aside p, #main #work .content ul li .detail-slide aside p {
		font-size: 1em;
		margin: 0 auto;
		width: 98%;
		margin-bottom: 0.5em;
	}
	    
	#main #process .content ul li .detail-slide aside a, #main #work .content ul li .detail-slide aside a {
		font-size: 1em;
		text-align: right;
		width: 95%;
		display: block;
		margin-bottom: 2em;
	}
	    
	#main #process .content ul li .detail-slide .showcase, #main #work .content ul li .detail-slide .showcase {
    width: 100%;
    float: none;
  }
   
  #main #process .content ul li .detail-slide .showcase ul.media-container, #main #work .content ul li .detail-slide .showcase ul.media-container {
  	height: 215px;
	}

	#main #process .showcase li, #main #work .showcase li {
		background-size: 100% auto;
	}

	#main #process .showcase .place_indicator, #main #work .showcase .place_indicator {
		width: 64px;
	}

	#main #contact { 
		width: 100% !important;
		max-width: 100%;
		padding: 30px 0 0 0;
	}

	#main #contact .content {
		max-width: 95%;
		width: 95%;
		padding: 0 0 95px 0;
		background-image: url(../images/corgi.png);
		background-repeat: no-repeat;
		background-position: 99% 99%;
		background-size: 18%;
	}

	#main #contact .content h2 {
		font-size: 2em;
		width: 100%;
	}

	#main #contact .content ul#columns {
		height: auto;
		padding-bottom: 30px;
		margin-top: 20px;
	}
	
	#main #contact .content ul#columns li.aThird {
		margin: 10px auto 0 auto;
		width: 90%;
		padding: 15px 20px 20px 20px;
		min-height: inherit;
	}
	
	#main #contact .content ul#columns li.aThird:nth-child(2){
	  display: none;
	}
	
	#main #contact .content ul#columns li.aThird:nth-child(3){
	  background-image: none;
	}
	
	#main #contact .content ul#columns li.aThird p {
	  font-size: 1em;
	}
}

body, img {
	transition:all .2s linear; 
  -o-transition:all .2s linear; 
  -moz-transition:all .2s linear; 
  -webkit-transition:all .2s linear;
}