/* Tablet -- iPads (portrait and landscape) */

@media all and (min-width: 1050px) {
	#main #process .showcase li, #main #work .showcase li {
		background-size: 100% auto;
	}
}

@media all and (max-width: 780px) {
	body {
		font-size: 0.8em;
	}

	#main #about .content {
		padding: 4em 4em 0 4em;
	}

	#main #about .content blockquote {
		padding: 160px 0 0 0;
		background-position: center top;
		font-size: 1.9em;
		text-align: center;
		margin: 0 auto;
		width: 100%;
		    
		-webkit-background-size: 130px auto;
		   -moz-background-size: 130px auto;
		     -o-background-size: 130px auto;
			background-size: 130px auto;
		    
		-webkit-margin-before: 0;
		 -webkit-margin-after: 0;
		 -webkit-margin-start: 0;
		   -webkit-margin-end: 0;
	}

	#main #about .content ul{
		position: relative;
		top: 120px;
		width: 100%;
		height: auto;
		margin-top: 0;
	}


	#main #about .content ul li {
    width: 38%;
    padding: 15px 30px 5px 20px;
    min-height: inherit;
    font-size: 90%;
	}

	#main #contact .content ul#columns li.aThird {
		margin: 10px auto 0 auto;
		width: 90%;
		padding: 15px 20px 20px 20px;
		min-height: inherit;
	}

	#main #contact .content ul#columns li.aThird:nth-child(3) {
	  background-size: 10%;
	}

}



/* Mobile */
@media all and (max-width: 1136px){

	* { margin: 0; padding: 0; }

	#container {
	  width: 100%;
	  overflow: hidden;
	}

	nav { display: none; }
	
	#main { background-color: #F4F6EE; margin: 0 0 2em 0; }

	#main #about { }

	#main #about .content {
		width: 94% !important;
		max-width: 94%;
		padding: 30px 0 50px 0;
	}

	#main #about .content blockquote {
		padding: 115px 5px 0 5px;
		background-position: center top;
		font-size: 1.8em;
		text-align: center;
		margin: 0 auto;
		width: 100%;
		    
		-webkit-background-size: 100px auto;
		   -moz-background-size: 100px auto;
		     -o-background-size: 100px auto;
			background-size: 100px auto;
		    
		-webkit-margin-before: 0;
		 -webkit-margin-after: 0;
		 -webkit-margin-start: 0;
		   -webkit-margin-end: 0;
	}

	#main #about .content ul {
		position: inherit;
		top: 20px;
		width: 93%;
	}

	#main #about .content ul li {
    margin: 10px auto 0 auto;
    width: 88%;
    padding: 10px 20px 20px 20px;
    min-height: inherit;
	}
	    
  #main #about .content ul li h3 { font-size: 1.4em; margin-bottom: 0.5em; }
  #main #about .content ul li p { font-size: 1.3em; }
  
  
	#main #process, #main #clients { 
		width: 100% !important;
		max-width: 100%;
		padding: 30px 0 0 0;
	}

  #main #clients .content {
		max-width: 95%;
		width: 95%;
		padding: 0;
	}

  #main #work .content h2,  #main #clients .content h2 {
		font-size: 2em;
		width: 100%;
	}

	#main #contact { 
		width: 100% !important;
		max-width: 100%;
		padding: 30px 0 0 0;
	}

	#main #contact .content {
		max-width: 95%;
		width: 95%;
		padding: 0 0 95px 0;
		background-image: url(../images/corgi.png);
		background-repeat: no-repeat;
		background-position: 99% 99%;
		background-size: 18%;
	}

	#main #contact .content h2 {
		font-size: 2em;
		width: 100%;
	}

	#main #contact .content ul#columns {
		height: auto;
		padding-bottom: 30px;
		margin-top: 20px;
	}
	
	#main #contact .content ul#columns li.aThird {
		margin: 10px auto 0 auto;
		width: 89%;
		padding: 15px 20px 20px 20px;
		min-height: inherit;
	}
	
	#main #contact .content ul#columns li.aThird:nth-child(2){
	  display: none;
	}
	
	#main #contact .content ul#columns li.aThird:nth-child(3){
	  background-image: none;
	}
	
	#main #contact .content ul#columns li.aThird p {
	  font-size: 1em;
	}
}

body, img {
	transition:all .2s linear; 
  -o-transition:all .2s linear; 
  -moz-transition:all .2s linear; 
  -webkit-transition:all .2s linear;
}