/*------------------------------------------------------------------
[Global Stylesheet]
LESS Framework
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Table of contents]

1. html/body
2. Layout & Background / #container
3. Inner Content / #main
4. Footer / footer

-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[1. html/body ]
*/
html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Helvetica Neue", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
  font-size: 0.7692307692307692em;
  font-weight: 400;
  text-decoration: none;
  background: #ffffff;
}
ul {
  list-style-type: none;
  padding: 0;
}
ul li {
  letter-spacing: 0.1em;
}
a {
  text-decoration: none;
  color: #339ea9;
}
a:visited {
  color: #25727a;
}
a:hover {
  color: #57c1cc;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  font-weight: 200;
  letter-spacing: 0.09em;
}
.clear {
  float: none;
  clear: both;
}
::selection,
::-moz-selection,
::-webkit-selection {
  background: #407b96;
  color: #f4f6ee;
}
/*------------------------------------------------------------------
[2. Layout structure & Background ]
*/
nav {
  width: 100%;
  height: auto;
  margin: 0 0;
  padding: 0 0;
  position: fixed;
  top: 0;
  z-index: 2;
  background: #ffffff;
  border-bottom: 1px solid #f4f6ee;
}
nav ul {
  clear: none;
  float: right;
  margin: 0 3em;
}
nav ul li {
  clear: none;
  float: left;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  display: block;
  /*.active {
        .set_gradient(lighten(@blue, 4%), darken(@blue, 10%));
        color: @offWhite;
        border-left: 1px solid darken(@blue, 15%);
        border-right: 1px solid darken(@blue, 15%);
      }*/

}
nav ul li a {
  color: #315e72;
  padding: 1.3em 1em;
  display: block;
  letter-spacing: 0.08em;
  text-align: center;
  text-transform: uppercase;
}
nav ul li a:hover {
  color: #5497b5;
}
nav ul #nav-top a {
  width: 9px;
  height: 6px;
  display: block;
  text-indent: -9999px;
  font-size: 0;
  border: 0;
  line-height: 0;
  height: 44px;
  margin-left: 10px;
  background: transparent url('../images/home.png') 0 20px no-repeat;
}
nav ul #nav-top a:hover {
  background: transparent url('../images/home.png') -11px 20px no-repeat;
}
#container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 0;
}
/*------------------------------------------------------------------
[3. Inner Content ]
*/
#main {
  width: 100%;
  height: 100%;
  margin: 2em 0;
  padding: 0 0;
  margin-bottom: 0;
}
#main section {
  width: 100%;
  height: auto;
  margin: 0 0;
  padding: 0 0;
  clear: both;
  float: none;
}
#main section h2 {
  width: 200px;
  height: auto;
  margin: 0 0;
  padding: 0.3em 0;
  font-size: 2.8em;
  font-weight: 100;
  text-decoration: none;
  -webkit-box-shadow: 1px 1px 5px 1px rgba(67, 0, 15, 0.1);
  -moz-box-shadow: 1px 1px 5px 1px rgba(67, 0, 15, 0.1);
  box-shadow: 1px 1px 5px 1px rgba(67, 0, 15, 0.1);
  text-align: center;
  text-transform: uppercase;
  color: #f2f3e8;
  background: #2b5264;
}
#main .content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4em;
}
#about {
  color: #f2f3e8;
  background: #8ea94a;
}
#about h1 {
  display: none;
}
#about blockquote {
  width: 83%;
  height: auto;
  margin: 0 0;
  padding: 2% 0;
  font-size: 2.5em;
  font-weight: 100;
  text-decoration: none;
  margin-top: 1em;
  padding-left: 5.3em;
  text-shadow: 0 1px 1px rgba(255, 255, 0, 0.5);
  -moz-text-shadow: 0 1px 1px rgba(255, 255, 0, 0.5);
  -webkit-text-shadow: 0 1px 1px rgba(255, 255, 0, 0.5);
  min-height: 120px;
  text-align: left;
  letter-spacing: .1em;
  text-decoration: none;
  background: transparent url('../images/logo.png') no-repeat 2% 27%;
}
#about ul {
  width: 100%;
  height: 250px;
  margin: 0 0;
  padding: 0 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#about ul li {
  width: 43%;
  height: auto;
  margin: 10px 0;
  padding: 15px 20px;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background: #71873b;
  min-height: 150px;
  line-height: 1.8em;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  vertical-align: top;
}
#about ul li:first-child {
  margin-right: 1%;
}
#about ul li h3 {
  font-size: 1.7em;
  font-weight: 200;
  text-decoration: none;
  text-align: left;
}
#about ul li p {
  font-size: 1.1em;
  text-align: left;
}
nav li,
#process .showcase {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
#process {
  background: #f4f6ee;
}
#process h3 {
  font-size: 1.7em;
  font-weight: 500;
  text-decoration: none;
  margin: 0 0 0.3em;
  color: #434448;
}
#process h4 {
  font-size: 1.25em;
  font-weight: 300;
  text-decoration: none;
  margin-bottom: 1.5em;
  color: #8ea94a;
  font-style: italic;
}
#process p {
  font-size: 1em;
  font-weight: 200;
  text-decoration: none;
  line-height: 1.6em;
}
#process .detail-slide {
  width: 100%;
  height: auto;
  margin: 3em 0;
  padding: 0 0;
  display: none;
}
#process .detail-slide.active {
  display: block;
}
#process aside {
  width: 31%;
  height: auto;
  margin: 0 0;
  padding: 0 0;
  clear: none;
  float: left;
}
#process .showcase {
  width: 60%;
  height: auto;
  margin: 0 0;
  padding: 0 0;
  clear: none;
  float: right;
}
#process .showcase .media-container {
  width: 100%;
  height: 380px;
  margin: 0 0;
  padding: 2% 0;
  border: 1px solid #e0e4cc;
}
#process .showcase li {
  width: 100%;
  height: auto;
  display: block;
  text-indent: -9999px;
  font-size: 0;
  border: 0;
  line-height: 0;
  width: 96%;
  height: 100%;
  margin: 0 auto;
  padding: 0 0;
  background-size: auto 100%;
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  -o-background-size: auto 100%;
  margin-bottom: 0;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #77adc5;
  display: none;
}
#process .showcase li.active {
  display: block;
}
#process .showcase .place_indicator {
  width: 52px;
  height: auto;
  margin: 1% auto;
  padding: 0 0;
}
#process .showcase .place_indicator li {
  margin-right: 2px;
  width: 10px;
  height: 10px;
  display: block;
  text-indent: -9999px;
  font-size: 0;
  border: 0;
  line-height: 0;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background: #c3c4be;
  border: 1px solid #929389;
  cursor: pointer;
  display: inline-block;
}
#process .showcase .place_indicator li.active {
  background: #69bda8;
}
#process .showcase .place_indicator li:hover {
  background: #69bda8;
}
#process .process-nav {
  font-size: 1.1em;
  font-weight: 300;
  text-decoration: none;
  display: inline;
}
#first_showcase .media-container li.first {
  background: #e0e4cc url('../images/user_persona1.jpg') center 0 no-repeat;
}
#first_showcase .media-container li.second {
  background: #f4f6ee url('../images/userflow1.jpg') center 0 no-repeat;
}
#first_showcase .media-container li.third {
  background: #000000 url('../images/sketches.jpg') center 0 no-repeat;
}
#second_showcase .media-container li.first {
  background: #000000 url('../images/wireframe.jpg') center 0 no-repeat;
}
#second_showcase .media-container li.second {
  background: #ffffff url('../images/design.jpg') center 0 no-repeat;
}
#second_showcase .media-container li.third {
  background: #434448 url('../images/code.jpg') center 0 no-repeat;
}
#contact {
  background: #323336;
  border-bottom: 20px solid #181819;
  margin-bottom: 0 !important;
}
#contact ul#columns {
  width: 100%;
  height: 250px;
  margin: 3em 0;
  padding: 0 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #f4f6ee;
}
#contact ul#columns li.aThird {
  clear: none;
  float: left;
  width: 28%;
  height: auto;
  margin: 10px 0;
  padding: 0px 15px;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  margin-right: 1.3%;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background: #28282b;
  min-height: 200px;
  line-height: 1.8em;
  -webkit-font-smoothing: antialiased;
  vertical-align: top;
}
#contact ul#columns li.aThird:nth-child(3) {
  background-size: 18% auto;
  -webkit-background-size: 18% auto;
  -moz-background-size: 18% auto;
  -o-background-size: 18% auto;
  background-image: url(../images/corgi.png);
  background-repeat: no-repeat;
  background-position: 98% 95%;
  margin-right: 0;
  margin-left: 0;
}
#contact ul#columns li.aThird p {
  font-size: 1.05em;
  text-align: left;
}
#contact ul#columns li.aThird #twitter_update_list {
  background-size: 60px auto;
  -webkit-background-size: 60px auto;
  -moz-background-size: 60px auto;
  -o-background-size: 60px auto;
  margin-top: 1em;
  padding-top: 2em;
  background: url(../images/twitter.png) 0 0% no-repeat;
}
#contact ul#columns li.aThird #twitter_update_list li {
  font-size: 0.9em;
  font-weight: 500;
  text-decoration: none;
  padding: 0.8em 0;
  line-height: 1.4em;
  border-top: 1px solid #434448;
  text-align: left;
}
#contact ul#columns li.aThird ul#social {
  text-align: center;
}
#contact ul#columns li.aThird ul#social li {
  width: 45px;
  height: 45px;
  margin: 0px 5px;
  padding: 0px 0px;
  display: inline-block;
}
#contact ul#columns li.aThird ul#social li a {
  width: 50px;
  height: 50px;
  display: block;
  text-indent: -9999px;
  font-size: 0;
  border: 0;
  line-height: 0;
  background: transparent url(../images/social.png) 0 0 no-repeat;
}
#contact ul#columns li.aThird ul#social li a#twitter {
  background-position: -3px -3px;
}
#contact ul#columns li.aThird ul#social li a#twitter:hover {
  background-position: -3px -55px;
}
#contact ul#columns li.aThird ul#social li a#facebook {
  background-position: -74px -3px;
}
#contact ul#columns li.aThird ul#social li a#facebook:hover {
  background-position: -74px -55px;
}
#contact ul#columns li.aThird ul#social li a#linkedin {
  background-position: -218px -3px;
}
#contact ul#columns li.aThird ul#social li a#linkedin:hover {
  background-position: -218px -55px;
}
#contact ul#columns li.aThird ul#social li a#googlePlus {
  background-position: -146px -3px;
}
#contact ul#columns li.aThird ul#social li a#googlePlus:hover {
  background-position: -146px -55px;
}
#contact ul#columns li.aThird ul#social li a#dribbble {
  display: none;
}
/*------------------------------------------------------------------
[4. Footer ]
*/
footer {
  display: none;
}
/*------------------------------------------------------------------
IE8 
*/
.ie8 #main .content {
  width: 960px;
}
/* Variables
 * Variables to customize the look and feel of Bootstrap
 * ----------------------------------------------------- */
/* Mixins
 * Snippets of reusable CSS to develop faster and keep code readable
 * ----------------------------------------------------------------- */
