
/*------------------------------------------------------------------
[Global Stylesheet]
LESS Framework
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Table of contents]

1. html/body
2. Layout & Background / #container
3. Inner Content / #main
4. Footer / footer

-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[1. html/body ]
*/

html, body {
  margin: 0;
  padding: 0;
}

body {
  .set_family("Helvetica Neue");
  .set_font(1em/1.3em, 400);
  background: lighten(@cream, 7%);
}

ul {
  list-style-type: none;
  padding: 0;

  li {
    letter-spacing: 0.1em;
  }
}

a {
  text-decoration: none;
  color: lighten(@linkColor, 12%);

  &:visited {
    color: @linkColor;
  }

  &:hover {
    color: @linkColorHover;
  }
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  font-weight: 200;
  letter-spacing: 0.09em;
}

.clear {
  float: none;
  clear: both;
}


/*------------------------------------------------------------------
[2. Layout structure & Background ]
*/


nav {
  .content_container(100%, auto, 0, 0, 0, 0);
	position: fixed;
  top: 0;
  z-index: 2;
  background: @white;
  border-bottom: 1px solid @cream;

  ul {
    .set_float(none, right);
    margin: 0 3em;

    li {
      .set_float(none, left);
      .set_font(1em, 500);
      display: block;

      a {
        color: @blue;
        padding: 1.3em 1em;
        display: block;
        letter-spacing: 0.08em;
        text-align: center;
        text-transform: uppercase;

        &:hover {
          color: lighten(@blue, 10%);
        }
      }

      .active {
        .set_gradient(lighten(@blue, 4%), darken(@blue, 10%));
        color: @offWhite;
        border-left: 1px solid darken(@blue, 15%);
        border-right: 1px solid darken(@blue, 15%);
      }
    }
  }
}

#container {
  .content_container(100%, 100%, 0, auto, 0, 0);
}

/*------------------------------------------------------------------
[3. Inner Content ]
*/

#main {
  .content_container(100%, 100%, 2em, 0, 0, 0);
  margin-bottom: 0;

  section {
    .content_container(100%, auto, 0, 0, 0, 0);
    .set_float(both, none);

    h2 {
      .content_container(200px, auto, 0, 0, 0.3em, 0);
      .set_font(2.8em, 100);
      .box-shadow(1px 1px 5px 1px rgba(67, 0, 15, .1));
      text-align: center;
      text-transform: uppercase;
      color: @offWhite;
      background: darken(@blue, 4%);
    }
  }

  .content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 4em;
  }
}

#about {
  color: @offWhite;
  background: darken(spin(@seaFoam, -88), 10%); //spin(@baseColor, -135);
 
  h1 { display: none; }

  blockquote {
    .set_font(2.5em, 100);
    .set_background_size(125px);
    text-shadow: 0 1px 1px rgba(255,255,0,.5);
    min-height: 100px;
    padding-left: 150px;
    padding-top: 25px;
    text-align: left;
    letter-spacing: .1em;
    text-decoration: none;
    background: transparent url('../images/logo.png') no-repeat 0 top;
  }

  ul {
    .content_container(100%, auto, 0, 0, 0, 0);
    display: block;

    li {
      .set_float(none, left);
      .content_container(26%, auto, 2em, 1.5em, 20px, 20px);
      .border_radius(7px);
      border: 1px solid rgba(0, 0, 0, .08);
      background: @lightGray;
      min-height: 175px;
      line-height: 1.8em;
      -webkit-font-smoothing: antialiased;
      display: block;

      h3 {
        .set_font(1.7em, 200);
      }

      p {
        font-size: 1.05em;
      }
    }
  }
}

#process {
  background: @cream;

  h3 {
    .set_font(1.7em, 500);
    margin: 0 0 0.3em;
    color: @grayDark;
  }

  h4 {
    .set_font(1.25em, 300);
    margin-bottom: 1.5em;
    color: darken(@seaFoam, 10%);
    font-style: italic;
  }

  p {
    .set_font(1.15em, 200);
    line-height: 1.6em;
  }

  .detail-slide {
    .content_container(100%, auto, 3em, 0, 0, 0);

    &.hidden {
      display: none;
    }
  }

  aside {
    .content_container(32%, auto, 0, 0, 0, 0);
    .set_float(none, left);
  }

  .showcase {
    .content_container(60%, auto, 0, 0, 0, 0);
    .set_float(none, right);

    .media-container {
      .content_container(100%, 350px, 0, 0, 0, 0);
    }

    li {
      .content_container(94%, 95%, 3%, auto, 0, 0);
      margin-bottom: 0;
      background: @lightGray;
      display: block;
      &.hidden {
        display: none;
      }
    }
  }

  .process-nav {
    li {
      .set_font(1.5em, 300);
      display: inline;
    }
  }
}

#contact {
  background: #323336;
  border-bottom: 20px solid #181819;
  margin-bottom: 0 !important;
}


/*------------------------------------------------------------------
[4. Footer ]
*/


footer{
  display: none;
}


@import "helpers";

