/*------------------------------------------------------------------
[Global Stylesheet]
LESS Framework
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Table of contents]

1. html/body
2. Layout & Background / #container
3. Inner Content / #main
4. Footer / footer

-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[1. html/body ]
*/
html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Helvetica Neue", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
  font-size: 0.7692307692307692em;
  font-weight: 400;
  text-decoration: none;
  background: #ffffff;
}
ul {
  list-style-type: none;
  padding: 0;
}
ul li {
  letter-spacing: 0.1em;
}
a {
  text-decoration: none;
  color: #339ea9;
}
a:visited {
  color: #25727a;
}
a:hover {
  color: #40b9c5;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  font-weight: 200;
  letter-spacing: 0.09em;
}
.clear {
  float: none;
  clear: both;
}
/*------------------------------------------------------------------
[2. Layout structure & Background ]
*/
nav {
  width: 100%;
  height: auto;
  margin: 0 0;
  padding: 0 0;
  position: fixed;
  top: 0;
  z-index: 2;
  background: #ffffff;
  border-bottom: 1px solid #f4f6ee;
}
nav ul {
  clear: none;
  float: right;
  margin: 0 3em;
}
nav ul li {
  clear: none;
  float: left;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  display: block;
}
nav ul li a {
  color: #315e72;
  padding: 1.3em 1em;
  display: block;
  letter-spacing: 0.08em;
  text-align: center;
  text-transform: uppercase;
}
nav ul li a:hover {
  color: #407b96;
}
nav ul li .active {
  background-color: #376a80;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#22414e));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(top, #376a80, #22414e);
  /* Chrome 10+, Saf5.1+, iOS 5+ */

  background-image: -moz-linear-gradient(top, #376a80, #22414e);
  /* FF3.6 */

  background-image: -ms-linear-gradient(top, #376a80, #22414e);
  /* IE10 */

  background-image: -o-linear-gradient(top, #376a80, #22414e);
  /* Opera 11.10+ */

  background-image: linear-gradient(top, #376a80, #22414e);
  color: #f2f3e8;
  border-left: 1px solid #1a323c;
  border-right: 1px solid #1a323c;
}
#container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 0;
}
/*------------------------------------------------------------------
[3. Inner Content ]
*/
#main {
  width: 100%;
  height: 100%;
  margin: 2em 0;
  padding: 0 0;
  margin-bottom: 0;
}
#main section {
  width: 100%;
  height: auto;
  margin: 0 0;
  padding: 0 0;
  clear: both;
  float: none;
}
#main section h2 {
  width: 200px;
  height: auto;
  margin: 0 0;
  padding: 0.3em 0;
  font-size: 2.8em;
  font-weight: 100;
  text-decoration: none;
  -webkit-box-shadow: 1px 1px 5px 1px rgba(67, 0, 15, 0.1);
  -moz-box-shadow: 1px 1px 5px 1px rgba(67, 0, 15, 0.1);
  box-shadow: 1px 1px 5px 1px rgba(67, 0, 15, 0.1);
  text-align: center;
  text-transform: uppercase;
  color: #f2f3e8;
  background: #2b5264;
}
#main .content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4em;
}
#about {
  color: #f2f3e8;
  background: #8ea94a;
}
#about h1 {
  display: none;
}
#about blockquote {
  font-size: 2.5em;
  font-weight: 100;
  text-decoration: none;
  background-size: 125px;
  -webkit-background-size: 125px;
  -moz-background-size: 125px;
  -o-background-size: 125px;
  text-shadow: 0 1px 1px rgba(255, 255, 0, 0.5);
  -moz-text-shadow: 0 1px 1px rgba(255, 255, 0, 0.5);
  -webkit-text-shadow: 0 1px 1px rgba(255, 255, 0, 0.5);
  min-height: 100px;
  padding-left: 150px;
  padding-top: 25px;
  text-align: left;
  letter-spacing: .1em;
  text-decoration: none;
  background: transparent url('../images/logo.png') no-repeat 0 top;
}
#about ul {
  width: 100%;
  height: 250px;
  margin: 0 0;
  padding: 0 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#about ul li {
  width: 40%;
  height: auto;
  margin: 10px 20px;
  padding: 15px 20px;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background: rgba(0, 0, 0, 0.2);
  min-height: 200px;
  line-height: 1.8em;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  vertical-align: top;
}
#about ul li h3 {
  font-size: 1.7em;
  font-weight: 200;
  text-decoration: none;
  text-align: left;
}
#about ul li p {
  font-size: 1.1em;
  text-align: left;
}
#process {
  background: #f4f6ee;
}
#process h3 {
  font-size: 1.7em;
  font-weight: 500;
  text-decoration: none;
  margin: 0 0 0.3em;
  color: #434448;
}
#process h4 {
  font-size: 1.25em;
  font-weight: 300;
  text-decoration: none;
  margin-bottom: 1.5em;
  color: #8ea94a;
  font-style: italic;
}
#process p {
  font-size: 1em;
  font-weight: 200;
  text-decoration: none;
  line-height: 1.6em;
}
#process .detail-slide {
  width: 100%;
  height: auto;
  margin: 3em 0;
  padding: 0 0;
  display: none;
}
#process .detail-slide.active {
  display: block;
}
#process aside {
  width: 31%;
  height: auto;
  margin: 0 0;
  padding: 0 0;
  clear: none;
  float: left;
}
#process .showcase {
  width: 60%;
  height: auto;
  margin: 0 0;
  padding: 0 0;
  clear: none;
  float: right;
}
#process .showcase .media-container {
  width: 100%;
  height: 380px;
  margin: 0 0;
  padding: 2% 0;
  border: 1px solid #e0e4cc;
}
#process .showcase li {
  width: 96%;
  height: 100%;
  margin: 0 auto;
  padding: 0 0;
  margin-bottom: 0;
  cursor: pointer;
  background: #e0e4cc;
  display: none;
}
#process .showcase li.active {
  display: block;
}
#process .showcase .place_indicator {
  width: 52px;
  height: auto;
  margin: 0 auto;
  padding: 0 0;
}
#process .showcase .place_indicator li {
  margin-right: 2px;
  width: 10px;
  height: 10px;
  display: block;
  text-indent: -9999px;
  font-size: 0;
  border: 0;
  line-height: 0;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: inline-block;
}
#process .showcase .place_indicator li.active {
  background: #69bda8;
}
#process .showcase .place_indicator li:hover {
  background: #69bda8;
}
#process .process-nav {
  font-size: 1.1em;
  font-weight: 300;
  text-decoration: none;
  display: inline;
}
#contact {
  background: #323336;
  border-bottom: 20px solid #181819;
  margin-bottom: 0 !important;
}
#contact ul#threeSections {
  width: 100%;
  height: 250px;
  margin: 0 0;
  padding: 0 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #f4f6ee;
}
#contact ul#threeSections li.aThird {
  width: 28%;
  height: auto;
  margin: 10px 10px;
  padding: 0px 15px;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background: rgba(0, 0, 0, 0.2);
  min-height: 200px;
  line-height: 1.8em;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  vertical-align: top;
}
#contact ul#threeSections li.aThird p {
  font-size: 1.1em;
  text-align: left;
}
/*------------------------------------------------------------------
[4. Footer ]
*/
footer {
  display: none;
}
/* Variables
 * Variables to customize the look and feel of Bootstrap
 * ----------------------------------------------------- */
/* Mixins
 * Snippets of reusable CSS to develop faster and keep code readable
 * ----------------------------------------------------------------- */
