/* Client List */

#main #clients {
  color: @offWhite;
  background: #000 url('../images/pattern1.jpg') repeat;

  p {
    .set_font(1.1em, 200);
    margin-top: 2.8em;
  }

  article {
    .set_float(none, left);
    .content_container(20%, auto, 0, 0, 0, 0);
    margin-top: 1.2em;
    margin-right: 3.7em;
    h3 {
      .set_font(1.5em, 400);
      color: lighten(spin(@seaFoam, -95), 12%);
    }

    .client_list li {
      padding: 0.5em 0;
      border-bottom: 1px dotted darken(@darkRed, 10%);
    }
  }
}

#main #disney .media-container li {
  &.first {
    background: darken(@cream, 10%) url('../images/client/disney_1.jpg') center 0 no-repeat;
  }

  &.second {
    background: @cream url('../images/client/disney_2.jpg') center 0 no-repeat;
  }

  &.third {
    background: @black url('../images/client/disney_3.jpg') center 0 no-repeat;
  }
}

#main #puppet .media-container li {
  &.first {
    background: darken(@cream, 10%) url('../images/client/puppet_1.jpg') center 0 no-repeat;
  }
  &.second {
    background: darken(@cream, 10%) url('../images/client/puppet_2.jpg') center 0 no-repeat;
  }
}

#main #irep .media-container li {
  &.first {
    background: darken(@cream, 10%) url('../images/client/irep.jpg') center 0 no-repeat;
  }
}

#main #asus .media-container li {
  &.first {
    background: darken(@cream, 10%) url('../images/client/asus.jpg') center 0 no-repeat;
  }
}

#main #penn .media-container li {
  &.first {
    background: darken(@cream, 10%) url('../images/client/penn.jpg') center 0 no-repeat;
  }
}

#main #epsilon .media-container li {
  &.first {
    background: darken(@cream, 10%) url('../images/client/epsilon.jpg') center 0 no-repeat;
  }
}

#main #ae .media-container li {
  &.first {
    background: darken(@cream, 10%) url('../images/client/ae.jpg') center 0 no-repeat;
  }
}

#main #adaptu .media-container li {
  &.first {
    background: darken(@cream, 10%) url('../images/client/adaptu_1.jpg') center 0 no-repeat;
  }
    &.second {
    background: darken(@cream, 10%) url('../images/client/adaptu_2.jpg') center 0 no-repeat;
  }

  &.third {
    background: darken(@cream, 10%) url('../images/client/adaptu_3.jpg') center 0 no-repeat;
  }
}