#main #disney .media-container li {
  &.first {
    background: darken(@cream, 10%) url('../images/client/disney_1.jpg') center 0 no-repeat;
  }

  &.second {
    background: @cream url('../images/client/disney_2.jpg') center 0 no-repeat;
  }

  &.third {
    background: @black url('../images/client/disney_3.jpg') center 0 no-repeat;
  }
}

#main #puppet .media-container li {
  &.first {
    background: darken(@cream, 10%) url('../images/client/puppet_1.jpg') center 0 no-repeat;
  }
}

#main #irep .media-container li {
  &.first {
    background: darken(@cream, 10%) url('../images/client/irep.jpg') center 0 no-repeat;
  }
}

#main #asus .media-container li {
  &.first {
    background: darken(@cream, 10%) url('../images/client/asus.jpg') center 0 no-repeat;
  }
}

#main #penn .media-container li {
  &.first {
    background: darken(@cream, 10%) url('../images/client/penn.jpg') center 0 no-repeat;
  }
}

#main #epsilon .media-container li {
  &.first {
    background: darken(@cream, 10%) url('../images/client/epsilon.jpg') center 0 no-repeat;
  }
}


